<h3><%= t('admin.purchases.new.title').upcase %></h3>
<%= form_for(@purchase, :url => admin_purchases_path, :remote => true) do |f| %>
  <hr/>
  <%= render :partial => 'common_form', :locals => {:f => f} %>
  <hr/>
  <% if @renewed %>
    <input id="purchase_location_id" type="hidden" value="<%= @renewed.location_id %>" name="purchase[location_id]"/>
    <%= hidden_field_tag 'renewed_id', '' %>
    <a id="renewed" data-renewed-id="<%= @renewed.id %>" data-accounts-number="<%= @renewed.accounts_number %>">
      <%= t('admin.purchases.new.renew') %>
    </a>
    <hr/>
  <% else %>
    <%= render :partial => 'restrictions_form', :locals => {:f => f, :locations => @locations} %>
    <hr/>
  <% end %>
  <%= f.submit t('admin.purchases.new.submit') %>
<% end %>
