<%
  audio = slide.media_elements_at
  audio_title = audio.nil? ? '' : audio.title
  slide_title = slide.title.blank? ? t('lesson_editor.placeholders.title') : slide.title
%>

<div class="slide-content audio normal-size">
  <%= form_tag save_slide_path(slide.lesson_id, slide.id), :method => :post, :remote => true, :id => "form-#{slide.id}", :autocomplete => 'off' do %>
    
    <div class="item title-container">
      <%= text_field_tag :title, slide_title, :class => 'title _lesson_editor_placeholder', :data => {:placeholder => slide.title.blank?} %>
    </div>
    
    <div class="item audio-container">
      <div id="media_element_1_in_slide_<%= slide.id %>" class="audio editable">
        <% if audio %>
          <input class="audio-id" type="hidden" value="<%= audio.id %>" name="media_element_1" autocomplete="off"/>
        <% else %>
          <input class="audio-id" type="hidden" value="" name="media_element_1" autocomplete="off"/>
        <% end %>
        <div class="mask <%= audio.nil? ? 'hidden' : 'visible' %>">
          <%= render(:partial => 'shared/players/custom/audio', :locals => {:audio => audio, :initialize_now => true}) %>
          <span class="add" data-position="1" title="<%= t('titles.lesson_editor.change_audio') %>"></span>
          <br/>
          <div class="title"><%= audio_title %></div>
        </div>
        <div class="empty-mask <%= audio.nil? ? 'visible' : 'hidden' %>">
          <a class="add" data-position="1"></a>
          <br/>
          <p class="lower"><%= t('lesson_editor.choose_audio') %></p>
        </div>
      </div>
      
    </div>
    
    <div class="item text-container">
      <%= text_area_tag :text, (slide.text.blank? ? t('lesson_editor.placeholders.text') : slide.text.html_safe), :id => "ta-#{slide.id}", :class => 'tinymce _lesson_editor_placeholder', :data => {:placeholder => slide.text.blank?} %>
    </div>
    
    <div class="inputs_for_documents" style="display:none">
      <% i = 1 %>
      <% documents_slides.each do |ds| %>
        <input type="text" name="document_<%= i %>" value="<%= ds.document_id %>" />
        <% i += 1 %>
      <% end %>
    </div>
    
    <div class="hidden_html_for_documents" style="display:none">
      <% documents_slides.each_with_index do |ds, index| %>
        <div id="document_<%= index + 1 %>_attached_in_slide_<%= slide.id %>">
          <%= render :partial => 'galleries/thumbs/document', :locals => {:document => ds.document} %>
        </div>
      <% end %>
    </div>
    
    <a class="attached_document_internal" style="display:<%= documents_slides.any? ? 'block' : 'none' %>" title="<%= t('titles.buttons.documents.attached', :num => documents_slides.length) %>"></a>
    
  <% end %>
</div>


<script>
  initTinymce('ta-<%= slide.id %>');
</script>
