<%
  resize = ''
  alignment = ''
  image = slide.media_elements_at
  if image
    width = image.media_element.width
    height = image.media_element.height
    url = image.media_element.url
    orientation = 'vertical'
    alignment = "top:#{image.alignment}px"
    resize = "height=\"#{image.resize_height(slide.kind)}\""
    if image.is_horizontal?(slide.kind)
      orientation = 'horizontal'
      alignment = "left:#{image.alignment}px"
      resize = "width=\"#{image.resize_width(slide.kind)}\""
    end
  end
%>


<div class="slide-content cover normal-size">
  <%= form_tag save_slide_path(slide.lesson_id, slide.id), :method => :post, :remote => true, :id => "form-#{slide.id}", :autocomplete => 'off' do %>
    
    <div class="image-container item">
      
      <div id="media_element_1_in_slide_<%= slide.id %>" class="image editable">
        <% if image %>
          <%= hidden_field_tag "media_element_align_1", image.alignment.to_s, :class => 'align' %>
          <%= hidden_field_tag "media_element_1", image.media_element_id, :class => 'image-id' %>
        <% else %>
          <%= hidden_field_tag "media_element_align_1", '0', :class => 'align' %>
          <%= hidden_field_tag "media_element_1", '', :class => 'image-id' %>
        <% end %>
        <div class="mask <%= orientation %> <%= image.nil? ? 'hidden' : 'visible' %>">
          <div class="alignable" style="<%= alignment %>" data-rolloverable="true">
            <img src="<%= url %>" <%= resize.html_safe %>/>
          </div>
          <a class="add hidden" data-position="1" title="<%= t('titles.lesson_editor.change_image') %>"></a>
        </div>
        <div class="empty-mask <%= image.nil? ? 'visible' : 'hidden' %>">
          <a class="add" data-position="1"></a>
          <br/>
          <p class="lower"><%= t('lesson_editor.choose_image') %></p>
        </div>
      </div>
      
      <div class="title-container">
        <%= slide.title %>
        <%= hidden_field_tag :title, slide.title %>
      </div>
      
    </div>
    
    <div class="footer-container item">
      <div class="subject">
        <%= slide.lesson.subject.description %>
      </div>
      <div class="author">
        <%= t('lessons.author') %>: <span class="name"><%=  current_user.full_name %></span>
      </div>
    </div>
    
  <% end %>
</div>
