<div class="gray-description">
  <%= t('faqs.media_elements.description').html_safe %><br/><br/>
  <%= contact_us_link %>
</div>
<div id="media_elements_faq">
  <h2 class="title"><%= t('faqs.media_elements.title') %></h2>
  <h3 class="answer_title"><%= @answer[0] %></h3>
  <div class="content"><%= @answer[1].html_safe %></div>
  <%= link_to t('faqs.back'), faqs_path, :class => 'backBtn' %>
</div>
