<%
  external_div_attributes = "data-position=\"\" data-duration=\"\""
  last = false
  if !empty
    external_div_attributes = "id=\"video_component_#{position}\" data-position=\"#{position}\" data-duration=\"#{component[:duration]}\""
    last = component[:last]
  end
%>

<div class="lista <%= empty ? '_video_editor_empty_component'.html_safe : '_video_editor_component'.html_safe %> _text" <%= external_div_attributes.html_safe %> data-rolloverable="true" data-preview-selected="false" data-current-preview-time="0">
  <div class="contatore _video_component_icon">
    <div class="_left fltlft">
      <%= empty ? '' : position %>
    </div>
    <div class="_right fltrt" style="color:#787575">
      <%= empty ? '' : seconds_to_time(component[:duration]) %>
    </div>
  </div>
  <div class="boxMediaElement _video_editor_component_hover">
    <% if !empty %>
      <% locals_for_text_thumb = {:background_color => component[:background_color], :text_color => component[:text_color], :content => component[:content]} %>
      <%= render :partial => 'video_editor/components/thumbs/text', :locals => locals_for_text_thumb %>
      <%= hidden_field_tag "type_#{position}", component[:type], :class => '_video_component_input_type' %>
      <%= hidden_field_tag "content_#{position}", component[:content], :class => '_video_component_input_content' %>
      <%= hidden_field_tag "background_color_#{position}", component[:background_color], :class => '_video_component_input_background_color' %>
      <%= hidden_field_tag "text_color_#{position}", component[:text_color], :class => '_video_component_input_text_color' %>
      <%= hidden_field_tag "duration_#{position}", component[:duration], :class => '_video_component_input_duration' %>
      <%= hidden_field_tag "position_#{position}", position, :class => '_video_component_input_position' %>
    <% end %>
  </div>
  <div class="_video_component_transition separatore <%= last ? 'current'.html_safe : '' %>">&nbsp;</div>
  <div class="arrowUpCutter _video_component_cutter_arrow" style="display:none"></div>
</div>
