<div class="container-fluid navbar-fluid">
  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <a class="brand" href="/admin">
    <%= image_tag 'admin-logo.png' %><br/>
    <%= t('admin.menu.dashboard.title')%>
  </a>
  <div class="nav-collapse collapse">
    <p class="navbar-text pull-right service-links">
      <%= t('captions.welcome') %><br/>
      <%= link_to t('registration.logout'), users_session_path, method: :delete %> | <%= link_to  SETTINGS['application_name'], "/" %>
    </p>
    <ul class="nav">
      <li class="dropdown">
        <a href="/admin" class="first-level <%= 'active' if controller_name == 'dashboard' %>">
          <%= t('admin.menu.dashboard.link') %>
        </a>
      </li>
      <li class="dropdown">
        <a href="/admin/media_elements" class="dropdown-toggle first-level elements <%= 'active' if controller_name == 'media_elements' %>" data-toggle="dropdown">
          <%= t('admin.menu.media_elements.link') %>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="/admin/media_elements"><%= t('admin.menu.media_elements.list') %></a>
          </li>
          <li>
            <a href="/admin/media_elements/new"><%= t('admin.menu.media_elements.upload') %></a>
          </li>
          <li>
            <a href="/admin/media_elements/edit"><%= t('admin.menu.media_elements.publish') %></a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/admin/lessons" class="first-level lessons <%= 'active' if controller_name == 'lessons' %>">
          <%= t('admin.menu.lessons.link') %>
        </a>
      </li>
      <li class="dropdown">
        <a href="/admin/documents" class="first-level documents <%= 'active' if controller_name == 'documents' %>">
          <%= t('admin.menu.documents.link') %>
        </a>
      </li>
      <li class="dropdown">
        <a href="/admin/messages/new_notification" class="dropdown-toggle first-level messages <%= 'active' if controller_name == 'messages' %>" data-toggle="dropdown">
          <%= t('admin.menu.messages.link') %>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="/admin/messages/new_notification">
              <%= t('admin.menu.messages.notifications') %>
            </a>
          </li>
          <li>
            <a href="/admin/messages/reports">
              <%= t('admin.menu.messages.reports') %>
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/admin/users" class="dropdown-toggle first-level users <%= 'active' if controller_name == 'users' %>" data-toggle="dropdown">
          <%= t('admin.menu.users.link') %>
        </a>
      </li>
      <li class="dropdown">
        <a href="/admin/settings/subjects" class="dropdown-toggle first-level settings <%= 'active' if controller_name == 'settings' %>" data-toggle="dropdown">
          <%= t('admin.menu.settings.link') %>
        </a>
      </li>
      <% if SETTINGS['saas_registration_mode'] && current_user.super_admin? %>
        <li class="dropdown">
          <a href="/admin/purchases" class="dropdown-toggle first-level purchases <%= 'active' if controller_name == 'purchases' %>" data-toggle="dropdown">
            <%= t('admin.menu.purchases.link') %>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/admin/purchases">
                <%= t('admin.menu.purchases.list') %>
              </a>
            </li>
            <li>
              <a href="/admin/purchases/new">
                <%= t('admin.menu.purchases.create') %>
              </a>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>
