<h4><%= t('admin.lessons.search.label') %></h4>
<%= form_tag 'lessons', :method => :get, :id => 'admin-search-lessons', :class => 'search-form' do %>
  <%= hidden_field_tag 'search[search_type]', 'lessons' %>
  <%= hidden_field_tag 'search[ordering]', '' %>
  <%= hidden_field_tag 'search[desc]', '' %>
  <div class="row-fluid">
    <div class="span12">
      <%= render :partial => 'admin/search/alerts' %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <%= render :partial => 'admin/search/lessons_general', :locals => {:params => params[:search]} %>
    </div>  
    <div class="span4">
      <%= render :partial => 'admin/search/date', :locals => {:params => params[:search]} %>
    </div>
    <div class="span4">
      <%= render :partial => 'admin/search/location', :locals => {:locations => @locations, :params => params[:search]} %>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <div class="form-actions">
        <button type="submit" class="btn btn-block btn-warning"><%= t('admin.lessons.search.submit').upcase %></button>
      </div>
    </div>
  </div>
<% end %>
<h3><%= t('admin.lessons.title') %></h3>
<% if @lessons.present? %>
  <%= render :partial => 'admin/list_heading', :locals => {:items => @lessons, :expandable => true} %>
<% end %>
<%= render :partial => 'admin/lessons/list', :locals => {:lessons => @lessons, :from_reporting => @from_reporting, :covers => @covers} %>
<% if @lessons.present? %>
  <%= render :partial => 'admin/list_heading', :locals => {:items => @lessons, :expandable => true} %>
<% end %>
