<%
  display = ['none'.html_safe, 'block'.html_safe]
  display = ['block'.html_safe, 'none'.html_safe] if active
%>


<div id="search_lessons_main_page" style="display:<%= pointed ? 'block'.html_safe : 'none'.html_safe %>">
  
  
  <div class="contentSearch">
    <div class="boxCerca">
      <form id="search_lessons" class="search-form" method="get" action="/search">
        
        <a class="_keep_searching" style="display:<%= display[0] %>" data-opened="false">
          <div class="keep_searching_icon"></div>
          <div class="keep_searching_label">
            <%= t('search.again') %>
          </div>
        </a>
        
        <%= hidden_field_tag 'item', 'lessons' %>
        <table class="_search_engine_form" summary="" cellpadding="0" cellspacing="0" style="width:100%; display:<%= display[1] %>">
          <tr>
            <td width="15%">
              <label><%= t('search.lessons.keyword.label') %></label><br />
              <input type="text" name="word" value="<%= t('search.lessons.keyword.placeholder') %>" class="text lower" id="lessons_tag_reader_for_search"/>
              <%= hidden_field_tag 'word_placeholder', '', :id => 'lessons_tag_kind_for_search' %>
            </td>
            <td width="15%">
              <label><%= t('search.lessons.filters.author') %></label><br />
              <select name="filter" id="filter_search_lessons">
                <option value="<%= Filters::ALL_LESSONS %>" selected="selected"><%= Lesson.filter(Filters::ALL_LESSONS) %></option>
                <% (Filters::LESSONS_SEARCH_SET - [Filters::ALL_LESSONS]).each do |f| %>
                  <option value="<%= f %>"><%= Lesson.filter(f) %></option>
                <% end %>
              </select>
            </td>
            <td width="15%">
              <label><%= t('search.lessons.filters.subject') %></label><br />
              <select name="subject_id" id="filter_search_lessons_subject">
                <option value="" selected="selected"><%= t('search.lessons.filters.all_subjects') %></option>
                <% subjects.each do |s| %>
                  <option value="<%= s.id %>"><%= s.description %></option>
                <% end %>
              </select>
            </td>
            <td width="15%">
              <label><%= t('search.lessons.filters.school_level') %></label><br />
              <select name="school_level_id" id="filter_search_lessons_school_level">
                <option value="" selected="selected"><%= t('search.lessons.filters.all_school_levels') %></option>
                <% school_levels.each do |sl| %>
                  <option value="<%= sl.id %>"><%= sl.description %></option>
                <% end %>
              </select>
            </td>
            <td width="20%"></td>
            <td width="20%">
              <p style="font-size:80%; padding-left:10px; padding-top:10px;">
                <%= t('search.lessons.suggestion.title') %><br/>
                <%= t('search.lessons.suggestion.description') %>
              </p>
            </td>
          </tr>
          <tr>
          </tr>
          <tr>
            <td><br/><h3><%= t('search.lessons.sort') %></h3></td>
          </tr>
          <tr>
            <% my_order_id = "#{SearchOrders::TITLE}_lessons_radio_input" %>
            <td width="5%">
              <input type="radio" name="order" id="<%= my_order_id %>" value="<%= SearchOrders::TITLE %>" class="regular-radio _order_lessons_radio_input" checked="checked"/>
              <label for="<%= my_order_id %>"> </label>&nbsp;<%= Lesson.search_order(SearchOrders::TITLE) %>
            </td>
            <% (SearchOrders::LESSONS_SET - [SearchOrders::TITLE]).each do |so| %>
              <% my_order_id = "#{so}_lessons_radio_input" %>
              <td width="5%">
                <input type="radio" name="order" id="<%= my_order_id %>" value="<%= so %>" class="regular-radio _order_lessons_radio_input"/>
                <label for="<%= my_order_id %>"> </label>&nbsp;<%= Lesson.search_order(so) %>
              </td>
            <% end %>
            <td align="left" colspan="2" width="40%">
            </td>
          </tr>
          <tr>
            <td>
              <br/><br/>
              <%= submit_tag t('search.short_label'), :id => 'search_lessons_submit', :class => 'cerca' %>
            </td>
          </tr>
        </table>
        
      </form>
    </div>
  </div>
  
  <br class="clearfloat"/>
  
  <% if active %>
    <% if results[:amount] > 0 %>
      <%= render :partial => 'search/lessons/amount', :locals => {:amount => results[:amount], :tags => results[:tags], :specific_tag => results[:specific_tag]} %>
      <% if results[:tags].any? %>
        <%= render :partial => 'search/lessons/tag_details', :locals => {:tags => results[:tags], :specific_tag => results[:specific_tag]} %>
      <% end %>
    <% end %>
    <%= render :partial => 'search/lessons/results', :locals => {:lessons => results[:records], :word => word, :covers => results[:covers]} %>
  <% end %>
  
</div>
