<div id="tooltip_help" class="tooltipHelp hidden">
  <%= image_tag('freccia_tooltip.png', :class => 'callout') %>
  <p>
    <strong><%= t("help.#{where}.first.title").html_safe %></strong><br/>
    <%= t("help.#{where}.first.content").html_safe %>
  </p>
  <p>
    <strong><%= t("help.#{where}.second.title").html_safe %></strong><br/>
    <%= t("help.#{where}.second.content").html_safe %>
  </p>
  <p>
    <strong><%= t("help.#{where}.third.title").html_safe %></strong><br/>
    <%= t("help.#{where}.third.content").html_safe %>
  </p>
</div>
