<div class="dialog">
  <h1><%= t('users.upgrade_trial.title') %></h1>
  <p><%= t('users.upgrade_trial.description') %></p>
  <%= form_tag user_send_upgrade_trial_path, :autocomplete => 'off' do |f| %>
    <%= label_tag 'email', t('users.email') %>:<br/> <%= email_field_tag :email, nil %><br/><br/>
    <%= label_tag 'password', t('users.password') %>:<br/> <%= password_field_tag :password, nil %><br/><br/>
    <%= label_tag 'purchase_id', t('users.purchase_id') %>:<br/> <%= text_field_tag :purchase_id, nil %><br/><br/>
    <%= submit_tag t('users.upgrade_trial.done') %>
  <% end %>
  <p style="padding-top:30px">
    <%= link_to image_tag('logo_grigio.png'), root_path, :title => t('fullpage_notifications.back') %>
  </p>
</div>
