<div class="dots_pagination_container" id="general_pagination" style="display:block">
  <span class="dots_pagination">
    <span class="pages">
      <% if page <= 1 && page >= pages_amount %>
        <a data-page="<%= page-1 %>" class="disabled"></a><a data-page="<%= page %>" class="current"></a><a data-page="<%= page+1 %>" class="disabled"></a>
      <% elsif page <= 1 %>
        <a data-page="<%= page-1 %>" class="disabled"></a><a data-page="<%= page %>" class="current"></a><a data-page="<%= page+1 %>" title="<%= t('titles.pagination.next') %>"></a>
      <% elsif page >= pages_amount %>
        <a data-page="<%= page-1 %>" title="<%= t('titles.pagination.prev') %>"></a><a data-page="<%= page %>" class="current"></a><a data-page="<%= page+1 %>" class="disabled"></a>
      <% else %>
        <a data-page="<%= page-1 %>" title="<%= t('titles.pagination.prev') %>"></a><a data-page="<%= page %>" class="current"></a><a data-page="<%= page+1 %>" title="<%= t('titles.pagination.next') %>"></a>
      <% end %>
    </span>
  </span>
</div>

<script>
  $(document).ready(function() {
    var prevPage = function(prevPage) {
      var url = <%= manipulate_url(remove_query_param: ['delete_item', 'resizing'], page: page - 1).to_json.html_safe %>;
      $.get(url);
      return true;
    }
    var nextPage = function(nextPage) {
      var url = <%= manipulate_url(remove_query_param: ['delete_item', 'resizing'], page: page + 1).to_json.html_safe %>;
      $.get(url);
      return true;
    }
    new DotsPagination($('.pages'), <%= j pages_amount.to_s %>, { 'complete': { 'prev': prevPage, 'next': nextPage } });
  });
</script>
