<%
  reload = 'false'
  reload = 'true' if [ButtonDestinations::FOUND_LESSON, ButtonDestinations::FOUND_MEDIA_ELEMENT].include? destination
  classes_to_s = {Lesson => 'Lesson', Video => 'MediaElement', Image => 'MediaElement', Audio => 'MediaElement'}
  my_title = "titles.buttons.add.#{classes_to_s[item.class].underscore}"
%>

<a class="<%= Buttons::ADD %> _<%= item.class %>_button_<%= Buttons::ADD %>" data-clickparam="<%= item.id %>" data-destination="<%= destination %>" data-reload="<%= reload %>" title="<%= t(my_title) %>"></a>
