<a class="<%= Buttons::DESTROY %> _<%= item.class %>_button_<%= Buttons::DESTROY %>" data-clickparam="<%= item.id %>" data-destination="<%= destination %>" title="<%= t('titles.buttons.destroy') %>"></a>
