<a class="<%= Buttons::PREVIEW %> _<%= item.class %>_button_<%= Buttons::PREVIEW %>" data-clickparam="<%= item.id %>" data-destination="<%= destination %>" title="<%= t('titles.buttons.preview') %>"></a>
