<a class="<%= Buttons::PUBLISH %> _<%= item.class %>_button_<%= Buttons::PUBLISH %>" data-clickparam="<%= item.id %>" data-destination="<%= destination %>" title="<%= t('titles.buttons.publish') %>"></a>
