<a class="<%= Buttons::REMOVE_VIRTUAL_CLASSROOM %> _<%= item.class %>_button_<%= Buttons::REMOVE_VIRTUAL_CLASSROOM %>" data-clickparam="<%= item.id %>" data-destination="<%= destination %>" title="<%= t('titles.buttons.remove_virtual_classroom') %>"></a>
