<a class="<%= Buttons::UNPUBLISH %> _<%= item.class %>_button_<%= Buttons::UNPUBLISH %>" data-clickparam="<%= item.id %>" data-destination="<%= destination %>" title="<%= t('titles.buttons.unpublish') %>"></a>
