<%= render :partial => 'documents/new_form_popup' %>
<%= render :partial => 'shared/upload_target' %>
<div class="gray-bar">
  <a id="upload_document" class="navlist-item b-document openLoader lower" data-type="document"><%= t('documents.upload') %></a>
</div>
<br class="clearfloat"/>
<div class="griglia-contenuti">
  <div class="documents-content fixed-compact-height">
    <div id="documents_title_bar" class="title-bar">
      <h1 class="lower"><%= t('captions.documents') %></h1>
      <div class="sort">
        <h2><%= t('captions.sort') %></h2>
        <select id="order_documents">
          <% SearchOrders::DOCUMENTS_SET.each do |so| %>
            <option value="<%= so %>" <%= (@order == so) ? "selected=\"selected\"".html_safe : '' %>><%= t("orders.#{so}") %></option>
          <% end %>
        </select>
      </div>
      <div class="filter">
        <form id="search_documents" class="search-form" method="get" action="/documents" data-remote="true" autocomplete="off">
          <h2><%= t('documents.search') %></h2>
          <input type="text" name="word" value="" class="text lower _word_input" data-letters="0"/>
          <%= image_tag 'cerca_documenti.gif', :class => '_loader', :style => 'display:none' %>
          <%= hidden_field_tag 'order', '', :id => 'search_documents_hidden_order' %>
        </form>
      </div>
    </div>
    <%= render :partial => 'documents/my_documents', :locals => {:documents => @documents, :word => @word} %>
    <div id="info_container" style="display:none" data-currenturl="<%= request.url %>"></div>
    <br class="clearfloat"/>
    <% if @documents.present? %>
      <%= render :partial => 'shared/pagination', :locals => {:page => @page, :pages_amount => @pages_amount} %>
    <% end %>
  </div>
</div>
