<%
  title_max = t('forms.placeholders.title', :num => t('language_parameters.media_element.length_title').to_s).downcase
  description_max = t('forms.placeholders.description', :num => t('language_parameters.media_element.length_description').to_s).downcase
  tags_max = t('forms.placeholders.tags', :items => SETTINGS['min_tags_for_item'].to_s, :num => SETTINGS['max_tag_length'].to_s).downcase
%>

<div id="load-gallery-<%= kind %>" class="loadInGallery stegosauro" data-placeholder-title="<%= title_max %>" data-placeholder-description="<%= description_max %>" data-placeholder-media="<%= t('forms.placeholders.media').downcase %>" data-loader-can-move="true" data-loader-with-errors="false" data-loader-position-stop="0" data-bar-width="900" data-bar-height="590" data-bar-padding="50" data-fake-url="/lessons/galleries/media_elements/create/fake">
  <%= form_tag "/lessons/galleries/#{kind}s", :method => :post, :id => "new_gallery_#{kind}", :class => 'form-selector-class', :multipart => true, :autocomplete => 'off' do %>
    <div class="part1">
      <div class="attachment">
        <label>
          <span>
            <input type="file" class="file" name="media"/>
          </span>
        </label>
        <input class="media" disabled="disabled" value=""/>
      </div>
      <div class="title_and_subtitle">
        <h1>
          <%= t("forms.gallery_upload.#{kind}.title") %>
        </h1>
        <p>
          <%= t("forms.gallery_upload.#{kind}.description").html_safe %>
        </p>
      </div>
    </div>
    <div class="part2">
      <div class="title_and_description">
        <input class="title" type="text" value="" name="title"/>
        <input class="title_placeholder" type="hidden" value="" name="title_placeholder"/>
        <textarea class="description" name="description"></textarea>
        <input class="description_placeholder" type="hidden" value="" name="description_placeholder"/>
      </div>
      <div class="tags_loader">
        <div class="_tags_container" data-max-width="377.5" data-lines="5">
          <input class="tags" type="text" value="" maxlength="<%= SETTINGS['max_tag_length'] %>"/>
          <div class="_placeholder">
            <%= tags_max %>
          </div>
          <input class="tags_value" type="hidden" value="" name="tags_value"/>
        </div>
      </div>
    </div>
    <div class="part3">
      <a class="submit"><%= t("forms.gallery_upload.#{kind}.done").downcase %></a>
      <a class="close"><%= t("forms.gallery_upload.#{kind}.cancel").downcase %></a>
    </div>
    <div class="loading-square loading-square-1"></div>
    <div class="loading-square loading-square-2"></div>
    <div class="loading-square loading-square-3"></div>
    <div class="loading-square loading-square-4"></div>
    <div class="loading-square loading-square-5"></div>
    <div class="loading-square-bis loading-square-bis-1"></div>
    <div class="loading-square-bis loading-square-bis-2"></div>
    <div class="loading-square-bis loading-square-bis-3"></div>
    <div class="loading-square-bis loading-square-bis-4"></div>
    <div class="errors_layer description" data-focus-selector=".part2 .description" data-form-error-selector=".part2 .description" data-focus-action="focus"></div>
    <div class="errors_layer media" data-form-error-selector=".part1 .attachment .media"></div>
    <div class="errors_layer tags" data-focus-selector=".part2 ._tags_container .tags" data-form-error-selector=".part2 ._tags_container" data-focus-action="click"></div>
    <div class="errors_layer title" data-focus-selector=".part2 .title" data-form-error-selector=".part2 .title" data-focus-action="focus"></div>
  <% end %>
  <div class="full_folder">
    <p class="msge"></p>
    <a class="back_to_gallery"><%= t('forms.error_captions.media_folder_full_button').downcase %></a>
  </div>
</div>

<div class="gallery_upload_container highlight-with-text">
  <a>
    <div class="plus"></div>
    <div class="prompt">
      <%= t("galleries.quick_load.#{kind}") %>
    </div>
  </a>
</div>

<%= render :partial => "galleries/#{kind}", :locals => {:"#{kind}s" => items} %>
