<h3><%= t('virtual_classroom.select_lessons.description') %></h3>
<div id="virtual_classroom_quick_select_container" class="contentPopUp scroll-pane" data-tot-pages="<%= tot_pages %>" data-page="1">
  <%= form_tag load_lessons_path, :remote => true do %>
    <% lessons.each_with_index do |l, index| %>
      <%= render :partial => 'virtual_classroom/view_single_in_quick_load', :locals => {:lesson => l, :index => index, :cover => covers[l.id]} %>
    <% end %>
  <% end %>
</div>

<div class="uploadButtonPopUpSelectLesson">
  <a id="virtual_classroom_quick_select_close" class="lower buttonForm">
    <%= t('virtual_classroom.select_lessons.cancel') %>
  </a>
  <div id="virtual_classroom_quick_select_submit" class="lower current">
    <a class="lower buttonForm">
      <%= t('virtual_classroom.select_lessons.done') %>
    </a>
  </div>
</div>
