<%= favicon_link_tag 'favicon32x32.png', type: 'image/png' %>

<!--[if lt IE 9]>
  <%= stylesheet_link_tag "browser_not_supported/application", :media => "all" %>
  <%= javascript_include_tag "browser_not_supported/application" %>
<![endif]-->

<!--[if gte IE 9]>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
<![endif]-->

<!--[if !IE]> -->
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
<!-- <![endif]-->

<%= csrf_meta_tags %>
<title><%= title_tag @slides %></title>
