<li id="slide_in_lesson_editor_<%= slide.id %>" class="<%= class_slide %>" data-slide-id="<%= slide.id %>" data-kind="<%= slide.kind %>" data-position="<%= slide.position %>" data-loaded="<%= loaded %>">
  <%= div_covering.html_safe %>
  <%= render :partial => "slide_buttons", :locals => {:slide => slide, :show_now => (!first_time || slide.cover?)} %>
  <% if loaded %>
    <%= render :partial => "lesson_editor/slides/#{slide.kind}", :locals => {:slide => slide, :documents_slides => documents_slides} %>
  <% else %>
    <%= render :partial => 'lesson_editor/slides/loading', :locals => {:kind => slide.kind} %>
  <% end %>
</li>
