<%= render :partial => 'lesson_slides', :locals => {:slides => @slides, :with_exit => @with_exit, :back => @back, :with_icons => false} %>
<%= render :partial => 'playlist_menu', :locals => {:vc_lessons => @vc_lessons, :covers => @covers} %>
<div class="playlist_footer">
  <%= link_to '', my_virtual_classroom_path, :class => 'esciButton fltrt', :title => t('titles.exit') %>
  <%= render :partial => 'playlist_lessons_title', :locals => {:vc_lessons => @vc_lessons} %>
  <a class="_open_playlist fltlft" data-loaded="false"><span><%= t('lesson_viewer.open_playlist_bar') %></span></a>
  <a class="_close_playlist fltlft"><span style="display:none"><%= t('lesson_viewer.close_playlist_bar') %></span></a>
</div>

<div id="info_container" data-reinitialise-scroll-pane-times="4" style="display:none"></div>
