<%
  webm = ''
  mp4 = ''
  duration = 0
  div_id = ''
  if !empty
    div_id = "id=\"video_component_#{identifier}_preview\""
    video = component[:video]
    webm = video.webm_url
    mp4 = video.mp4_url
    duration = video.min_duration
  end
%>


<div style="display:none" data-loaded="<%= empty %>" data-mp4="<%= mp4 %>" data-webm="<%= webm %>" class="boxContentMediaElementVideo _video_component_preview" <%= div_id.html_safe %>>
  
  <div class="videoPlayer">
    <video width="640" height="360" <%= mute ? "muted=\"muted\"".html_safe : '' %>>
      <source src="" type="video/mp4">
      <source src="" type="video/webm">
      <%= t('captions.dont_support_video') %>
    </video>
  </div>
  
</div>
