<!DOCTYPE html>
<html class="media_element_editor-layout <%= controller_html_class %> <%= action_html_class %>">
  
  <head><%= render :partial => 'layouts/application/head' %></head>
  
  <body>
    <%= render :partial => 'shared/browser_support_script' %>
    <%= render :partial => 'shared/popups' %>
    <%= render :partial => 'shared/loading' %>
    <%= yield %>
  </body>
  
</html>
