<!DOCTYPE html>
<html class="virtual_classroom-layout <%= controller_html_class %> <%= action_html_class %>">
  
  <head><%= render :partial => 'layouts/application/head' %></head>
  
  <body>
    <%= render :partial => 'shared/browser_support_script' %>
    <%= render :partial => 'shared/popups' %>
    <%= render :partial => 'virtual_classroom/popups' %>
    <%= render :partial => 'shared/loading' %>
    <div class="container">
      <%= render :partial => 'shared/header', :locals => {:notifications => @notifications, :news => @new_notifications, :offset => @offset_notifications, :tot => @tot_notifications, :where => 'virtual_classroom'} %>
      <div class="bluBar">
        <h1 class="lower"><%= t('captions.virtual_classroom') %></h1>
        <div class="buttons_container">
          <a id="open_quick_load_lessons_popup_in_virtual_classroom" class="lower <%= @emptier ? 'current'.html_safe : '' %>">
            <%= t('virtual_classroom.select_lessons.label') %>
          </a>
          <a id="empty_virtual_classroom" class="lower <%= @lessons.empty? ? 'disabled'.html_safe : '' %>">
            <%= t('virtual_classroom.make_it_empty') %>
          </a>
        </div>
      </div>
      <div class="global-content">
        <%= yield %>
      </div>
      <%= render :partial => 'shared/footer' %>
    </div>
  </body>
  
</html>
