<div class="global-data hideMe">
  <a class="addButtonContent" id="add_new_audio_component_in_audio_editor" title="<%= t('titles.audio_editor.components.add') %>"></a>
  <div class="clearfloat"></div>
  <div class="lateralContentGatto">
    <p>
      <%= t('audio_editor.total_length') %>: <br/>
      <span id="visual_audio_editor_total_length"><%= seconds_to_time total_length %></span><br/>
      <span id="visual_audio_editor_current_time" style="display:none; color:#787575">00:00</span>
    </p>
  </div>
  <div class="bottoniVerdi">
    <a class="upper disabled"><%= t('audio_editor.preview') %></a>
  </div>
  <div class="audioLateralControls">
    <a id="rewind_audio_editor_preview" class="rewind <%= parameters[:components].empty? ? 'disabled'.html_safe : '' %>" title="<%= t('titles.audio_editor.preview.rewind') %>"></a>
    <a id="start_audio_editor_preview" class="play <%= parameters[:components].empty? ? 'disabled'.html_safe : '' %>" title="<%= t('titles.audio_editor.preview.start') %>"></a>
    <a id="stop_audio_editor_preview" class="pause" title="<%= t('titles.audio_editor.preview.pause') %>" style="display:none"></a>
  </div>
</div>
